# Bootstrap
app/bootstrap*

# Symfony directories
vendor/
*/logs/*
*/cache/*
web/css/*
web/js/*
web/uploads/*
web/bundles/*
web/app_dev.php

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
composer.lock

# Core Bundle(submodule)
src/Httpi/Bundle/CoreBundle/*

# Misc
.idea