# Bootstrap
app/bootstrap*

# Symfony directories
vendor/
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Core Bundle(submodule)
src/Httpi/Bundle/CoreBundle/*