form.default {
	
}

form.default div.default {
	
}

form.default div.default div {
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}

form.default div.default label {
	display: block;
	float: left;
	width: 100px;
	font-weight: bold;
}

p.success {
	margin-top: 10px;
	padding: 10px;
	background-color: green;
	color: #fff;
	border: 1px solid #fff;
}

p.delete {
	margin-left: 150px;
	margin-top: -35px;
}

p.back {
	margin-left: 300px;
	margin-top: -35px;
}