{% extends "HttpiMaritimeAdminBundle:Default:base.html.twig" %}

{% block contentCssClass %}{% endblock %}

{% block page %}
    {{ parent() }}

    <!-- #sidebar -->
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    <!-- //#sidebar -->

{% endblock %}