{% extends "HttpiMaritimeSiteBundle:Default:layout.html.twig" %}

{% block title %}Demo lexicon{% endblock %}

{% block bodyClass %}template--demo context--lexicon-listing{% endblock %}

{% block css %}
    {{ parent() }}
    {% stylesheets filter="compass"
        '@HttpiMaritimeSiteBundle/Resources/public/css/modules/demo.sass'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<h1>something</h1>
{% endblock %}
